bin/
obj/
/packages/
nupkg/
 nupkgs/
upkg/
*.nupkg
*.snupkg
TestResults/
artifacts/
.idea/
.vs/
.DS_Store
riderModule.iml
/_ReSharper.Caches/
*.iml
*.DotSettings.user
*.user
*.suo
*.userosscache
__pycache__/
.venv/
venv/
.python-version
*.tmp
*.log
BenchmarkDotNet.Artifacts/
*.binlog
Generated/
**/Generated/
*.log
playground/**/todos.bin